<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/bootstrap/css/docs.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="https://zhangzewen.me">About me</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header class="jumbotron subhead" id="overview">
      <div class="container masthead">
        <h1><%= brand %></h1>
        <p class="lead">Welcome to <%= brand %></p>
        <p class="login">
        <a class="btn btn-primary btn-large" href="<%= login_url %>">Login With DNSPod</a>
        </p>
      </div>
   </header>
   <div class="container">
   </div>
   <footer class="footer"><%= brand %> &copy; 2013</footer>

  <script type="text/javascript" data-main="/javascript/main" src="/javascript/require.js"></script>
  </body>
</html>
