<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.css' />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">DnsGit</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="http://docs.dnsgit.com/">Docs</a></li>
              <li><a href="#">Create GitHub Repo</a></li>
            </ul>
            <ul class="nav pull-right">
              <% if (user) { %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">logout</a></li>
                  </ul>
                </li>
              <% } else { %>
                <li>
                  <a href="<%= login_url %>">Login With DNSPod</a>
                </li>
              <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
   <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1><%= brand%></h1>
        <p class="lead">Welcome to <%= brand %></p>
        <% if (user) { %>
          <form class="form-horizontal" id="setup">
          </form>
        <% } else { %>
          <p class="login">
             <a class="btn btn-primary btn-large" href="<%= login_url %>">Login With DNSPod</a>
          </p>
        <% } %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Managed DNS service</h2>
          <p>Geographic distributed name servers managed by us. You are pushing your configuration files with git and we are doing the rest.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Git management</h2>
          <p>Easy DNS management and deployment with git. To create a new domain, add the configuration file to git repository, to delete a domain, remove file from git repository.</p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Version control</h2>
          <p>Track changes, view history, rollback, continuous backups with git. Safe delegation of DNS administration tasks to users from your organization.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© <%= brand %> 2013</p>
      </footer>

    </div>

  <script type="text/template" id="first-step">
    <strong><span class="badge">1</span></strong> 
    <span>Set Git repository : </span>
    {{#unless edit}}
      {{#if gitrep}}
        <div class="span6" id="git-rep" style="float:none;display:inline-block;line-height:100%;">{{gitrep}}</div>
        <button class="btn edit" type="button">Edit</button>
      {{else}}
        <input class="span6" id="git-rep" type="text" value="{{gitrep}}">
        <button class="btn update" type="button">Update</button>
      {{/if}}
    {{/unless}}
    {{#if edit}}
      <input class="span6" id="git-rep" type="text" value="{{gitrep}}">
      <button class="btn update" type="button">Update</button>
    {{/if}}
    
  </script>

  <script type="text/template" id="second-step">
    <strong><span class="badge">2</span></strong> 
    Add Post-Receive Hooks : <strong>http://api.dnsgit.com/notify/{{user_id}}</strong>
  </script>

  <script type="text/javascript">
      var DnsGit = {
        <% if (user) { %>
          user_id: <%= user.id %>,
          gitrep: <% if (user.gitrep) { %>'<%= user.gitrep %>'<% } else { %> '' <% } %>
        <% } %>
      };
    
  </script>
  <script type="text/javascript" data-main="/javascript/main" src="/javascript/require.js"></script>
  
  </body>
</html>
