<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-partial.css' />
    <link rel='stylesheet' href='/stylesheets/pure-min.css' />
    <link rel='stylesheet' href='/stylesheets/style-pure.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.css' />
  </head>
  <body>
    <!--
      <%include module/navbar%>
    -->

   <div class="container">

    <div class="header pure-u-1">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <a class="pure-menu-heading" href="">Your Site</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Home</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <div class="splash pure-u-1" id="yui_3_10_1_1_1370100912283_15">
        <div class="pure-g-r" id="yui_3_10_1_1_1370100912283_14">
            <div class="pure-u-1-3">
                <div class="l-box splash-image">
                    
                </div>
            </div>

            <div class="pure-u-2-3" id="yui_3_10_1_1_1370100912283_13">
                <div class="l-box splash-text" id="yui_3_10_1_1_1370100912283_12">
                    <h1 class="splash-head">
                        Some big bold text.
                    </h1>

                    <h2 class="splash-subhead" id="yui_3_10_1_1_1370100912283_10">
                        The HTML and CSS for this layout show how you can make a modern, responsive landing page for your next product. Browse through the source to see how we use menus and responsive grids to create this layout. Shrink your browser width and watch the layout transform and play nice with small screens.
                    </h2>

                    <p>
                        <a href="#" class="pure-button primary-button">Get Started</a>
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="row content">
    </div>

    <hr>
    <footer>
      <p>© <%= brand %> 2013</p>
    </footer>

  <script type="text/template" id="first-step">
    <strong><span class="badge">1</span></strong> 
    <span>Set Git repository : </span>
    {{#unless edit}}
      {{#if gitrep}}
        <div class="span6" id="git-rep" style="float:none;display:inline-block;line-height:100%;">{{gitrep}}</div>
        <button class="btn edit btn-primary" type="button">Edit</button>
      {{else}}
        <input class="span6" id="git-rep" type="text" value="{{gitrep}}">
        <button class="btn update" type="button">Update</button>
      {{/if}}
    {{/unless}}
    {{#if edit}}
      <input class="span6" id="git-rep" type="text" value="{{gitrep}}">
      <button class="btn update btn-success" type="button">Update</button>
      <button class="btn cancel btn-info" type="button">Cancel</button>
    {{/if}}
    
  </script>

  <script type="text/template" id="second-step">
    <strong><span class="badge">2</span></strong> 
    Add Post-Receive Hooks : <strong>http://api.dnsgit.com/notify/{{user_id}}</strong>
  </script>

  <script type="text/template" id="banner-nologin">
    <div class="hero-unit">
      <h1><%= brand%> </h1>
      <p class="lead">Welcome to <%= brand %></p>
      <p class="login">
         <a class="btn btn-primary btn-large" href="<%= dnspod_login_url %>">Login With DNSPod</a>
      </p>
    </div>
  </script>

  <script type="text/template" id="feature">
    <div class="span4">
      <h2>Managed DNS service</h2>
      <p>Geographic distributed name servers managed by us. You are pushing your configuration files with git and we are doing the rest.</p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    <div class="span4">
      <h2>Git management</h2>
      <p>Easy DNS management and deployment with git. To create a new domain, add the configuration file to git repository, to delete a domain, remove file from git repository.</p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    <div class="span4">
      <h2>Version control</h2>
      <p>Track changes, view history, rollback, continuous backups with git. Safe delegation of DNS administration tasks to users from your organization.</p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    </div>
  </script>

  <script type="text/template" id="domain-list">
    <table class="table table-hover">
      <tbody>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="domain-entry">
    <td>{{name}}</td>
  </script>

  <script type="text/template" id="record-entry">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{line}}</td>
    <td>{{value}}</td>
    <td>{{mx}}</td>
    <td>{{ttl}}</td>
  </script>

  <script type="text/template" id="record-list">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Line</th>
          <th>Value</th>
          <th>MX</th>
          <th>TTL</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="alert-error">
    <div class="alert alert-error">
      {{#if close}}
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{/if}}
      {{#if msg_important}}<strong>{{msg_important}}</strong> {{/if}}
      {{msg}} 
    </div>
  
  </script>

  <script type="text/template" id="loading">
    <img src="/images/loading.gif"/> 
  </script>

  <script type="text/javascript">
      var DnsGit = {
        <% if (user) { %>
          user_id: <%= user.id %>,
          gitrep: <% if (user.gitrep) { %>'<%= user.gitrep %>'<% } else { %> '' <% } %>
        <% } %>
      };
    
  </script>
  <script type="text/javascript" data-main="/javascript/index" src="/javascript/require.js"></script>
  <% include module/ta %>
  <% include module/uservoice %>
  </body>
</html>
